@import '~firebaseui/dist/firebaseui.css';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body .title {
  font-size: 3.1415926rem;
  line-height: 3.1415926rem;
  font-weight: bold;
  color: rgb(0 0 0 / .9122222);
}
