<h2 [libTitle]="title">文章列表
<button *ngIf="isAdmin$|async" mat-raised-button color="accent" [routerLink]="['new']">新增</button>

</h2>
<mat-list>
    <mat-list-item *ngFor="let post of postList$|async"  >
        <button mat-button
        [routerLink]="['detail', post.id]"
        >
            {{post.title}}
        </button>
</mat-list-item>
</mat-list>

<div>
    <span>是管理员吗？</span>
    <span>{{isAdmin$|async|json}}</span>
</div>

<img width="200" height="200" *ngIf="testImageSrc$|async" [src]="testImageSrc$|async" alt="">
