.post-title {
    font-size: 3.1415926rem;
    line-height: 3.1415926rem;
    font-weight: bold;
}
.post {
    margin: 2rem 1rem;
}
.info-panel {
    color: rgba(0 0 0 / .4);
    font-size: .6rem;
    display: flex;
    gap: 1rem;
}