<ng-container [libTitle]="[title, (post$|async)?.title]"></ng-container>
<section class="post" *ngIf="post$|async as post" >
  <div class="title-section">

    <h3 class="g-title" >{{post.title}}
    </h3>
    <div *ngIf="isAdmin$|async" class="action-button-group">
      <button mat-raised-button >编辑文章</button>
      <button mat-raised-button color="warn" (click)="deleteButtonClick()">删除文章</button>
    </div>
  </div>
    <div class="info-panel">
      <ng-container *ngIf="!post.modifiedAt"
                    logMode="warn"
                    [libDebug]="['detail.component.html', 'miss post.modifiedAt', post.id]"></ng-container>
      <ng-container *ngIf="!post.author"
                    logMode="warn"
                    [libDebug]="['detail.component.html', 'miss post.author', post.id]"></ng-container>
        <div>最后修改时间：{{post.modifiedAt|date}}</div>
        <div>作者：{{post.author}}</div>
    </div>
  <ng-container *ngIf="!post.content"
                logMode="warn"
                [libDebug]="['detail.component.html', 'miss post.content', post.id]"></ng-container>
    <markdown [data]="post.content"></markdown>
</section>
