.info-panel {
    color: rgb(0 0 0 / .4);
    font-size: .6rem;
    display: flex;
    gap: 1rem;
}

.title-section {
  display: flex;
  align-items: baseline;
}
.action-button-group {
  > * + * {
    margin-left: 4px;
  }
}
