.post-title {
    font-size: 3.1415926rem;
    line-height: 3.1415926rem;
    font-weight: bold;
    color: rgb(0 0 0 / .9122222);
}
.post {
}
.info-panel {
    color: rgb(0 0 0 / .4);
    font-size: .6rem;
    display: flex;
    gap: 1rem;
}
